In [1]:
# loading the data
import pandas as pd
df = pd.read_csv('image-descriptions-DFE5.csv',header=0)
df

,UnitId,TrustedJudgement,Response,ConfidenceScore,Image,Phrase
0,110494178,4,No,0.5243,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,disneyland
1,110494179,3,No,1.0000,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,challenger
2,110494180,139,Yes,1.0000,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,blue
3,110494181,3,No,1.0000,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,schoodicpeninsula
4,110494182,45,No,0.9316,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,macromarvels
...,...,...,...,...,...,...
226226,111036627,154,Yes,0.9596,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,storm
226227,111036628,73,No,0.8028,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,photo
226228,111036629,40,No,0.9192,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,visage
226229,111036630,157,No,1.0000,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,grandledge
226230,111036631,160,Yes,0.9612,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,vitamins

In [2]:
#converted Response to numerical variable
pd.get_dummies(df.Response)

        No  Yes
0        1    0
1        1    0
2        0    1
3        1    0
4        1    0
...     ..  ...
226226   0    1
226227   1    0
226228   1    0
226229   1    0
226230   0    1

[226231 rows x 2 columns]

In [ ]:
#converted Image to numerical variable
pd.get_dummies(df.Phrase)